<ul>
	<li ng-repeat="person in users"
		ng-show="user._id !== person._id"> {{person.email}} 
		<a ng-click="follow(user._id, person._id)" ng-hide="checkIsFollowing(person._id)">Follow</a>
		<a ng-click="unfollow(user._id, person._id)" ng-show="checkIsFollowing(person._id)">Unfollow</a>

	</li>
</ul>