
<!DOCTYPE html>
<html ng-app="SNS">
	<head>

		<title>
			SNS
		</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../app/css/style.css">
	</head>

<!-- This navbar calls the controller NavigationController. -->
	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
		<div class="container">

		<!-- ui-sref links to stateProvider which is in app.js -->
			<div ng-show="!loggedIn"> <input type="text" ng-model="login.email"> <input type="password" ng-model="login.password"><button ng-click="logUserIn()">Login</button> <a ui-sref="signUp">Create An Account</a></div>
			<div ng-show="loggedIn">

				<a ui-sref="editProfile"><!-- state transition to editProfile state -->Edit Profile</a>
				<a ui-sref="follow"><!-- state transition to editProfile state -->Follow Users</a>
				<a ng-click="logOut();">Logout;</a>

			</div>

		</div>
	</nav>
	<body>
		
		<div ui-view></div>
	</body>

	<script src="../app/angular.js"></script>
	<script src="../app/app.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	
<!-- Controllers -->
	<script src="../app/signup/signup-controller.js"></script>
	<script src="../app/navigation/navigation-controller.js"></script>
	<script src="../app/profile/edit-profile-controller.js" ></script>
	<script src="../app/main/main-controller.js" ></script>
	<script src="../app/follow/follow-controller.js"></script>
<!-- Libraries -->
    <script src="../node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
    <script src="../node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
    <script src="../node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>

</html>