<div class="col-sm-8 col-sm-offset-2">
	
<div class="row">
	<div class="button" ngf-select ng-model="file" name="file" ngf-max-size="20MB" ngf-resize="{width: 100, height: 100}" ngf-pattern="'image/*'" accept="'image/*'">Select</div>
</div>
	<div class="row">
	Upload
	</div>
	<div class="row">
	<!--take the input to the dataset user.-->
		<input class="form-control" ng-model = "user.username" ng-blur="updateUsername()">
		<!--ng-change vs. ng-blur
			ngChange: Evaluate the given expression when the user changes the input. The expression is evaluated immediately, unlike the JavaScript onchange event which only triggers at the end of a change (usually, when the user leaves the form element or presses the return key).
			ngBlur: A blur event fires when an element has lost focus or leaves the input. As the blur event is executed synchronously also during DOM manipulations (e.g. removing a focussed input), AngularJS executes the expression using scope.$evalAsync if the event is fired during an $apply to ensure a consistent state.
		-->

	</div>
	<div>
		<textarea class="form-control" ng-model = "user.bio" ng-blur="updateBio()"></textarea>

	</div>
</div>