<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<!-- bootstrap divides the page to 12 rows and columns. This case it will divide to half of the page for this division-->
		<div class="row">
			<strong>Email Address: </strong>
			<input type="text" ng-model="newUser.email" class="form-control"></input>
		</div>
		<div class="row">
			<strong>Password: </strong>
			<input type="password" ng-model="newUser.password" class="form-control"></input>
		</div>
		<button ng-click="createUser()">Submit</button>
	</div>
</div>

